/* Define o fundo preto para a tela inteira */
.home {
  background-color: black;
  color: white; /* Cor branca para o texto */
  height: 100vh; /* Altura da tela inteira */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.comandos{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Estiliza o cabeçalho */
.header {
  display: flex;
  align-items: center; /* Centraliza verticalmente */
  justify-content: center; /* Centraliza horizontalmente */
  margin-top: 20px;
}

/* Define o tamanho da imagem do logo */
.logo {
  width: 100px; /* Tamanho padrão do logo */
  height: auto;
  margin-right: 5px; /* Espaço entre a imagem e o título */
}

/* Estiliza o título */
.Titulo {
  font-size: 2rem; /* Tamanho padrão do título */
  font-weight: bold;
}

/* Estiliza os botões */
button {
  background-color: transparent;
  color: rgb(255, 255, 255);
  border: 1px solid white;
  padding: 10px 20px;
  margin: 10px 0; /* Espaço vertical entre os botões */
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  width: 200px; /* Largura fixa para os botões */
}

button:hover {
  background-color: gray;
  color: white;
}

/* Exibição da saída */
h2, p {
  text-align: center;
}

/* Responsividade */
@media (max-width: 768px) {
  .logo {
    width: 40px; /* Reduz o tamanho do logo */
  }

  .Titulo {
    font-size: 1.5rem; /* Reduz o tamanho do título */
  }

  button {
    width: 80%; /* Botões ocupam mais espaço horizontal */
  }
}

@media (max-width: 480px) {
  .Titulo {
    font-size: 1.2rem; /* Reduz ainda mais o tamanho do título */
  }

  button {
    width: 100%; /* Botões ocupam toda a largura */
    padding: 8px 15px; /* Ajuste do padding */
  }

}
